* {
    font-family: "IBM Plex Mono", monospace;
}

.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--light_green);
}

.landing_page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.title_left {
    font-size: 4rem;
    font-weight: bold;
    color: var(--deep_blue);
    font-family: "IBM Plex Mono", monospace;
    margin: 0px;
}

.title_right {
    font-size: 4rem;
    font-weight: bold;
    color: var(--blue);
    font-family: "IBM Plex Mono", monospace;
    margin: 0px;
}

.txt_detail {
    font-size: 1rem;
    color: var(--text_black);
    font-family: "IBM Plex Mono", monospace;
    width: 75rem;
    text-align: center;
    margin-bottom: 40px;
}

.game_page {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--light_green);

    /* TODO: For testing, Remove later */
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* styleguide.css */

.google-signin-btn {
    background-color: #4285F4; /* Google Blue */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 4px; /* Button border radius */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Transition effect for hover */
}

.google-signin-btn:hover {
    background-color: #357AE8; /* Darker Google Blue on hover */
}

/* Add this CSS to your existing stylesheets */
.greeting-message {
    font-size: 1.2rem; /* Font size */
    color: var(--text_black); /* Text color */
    font-family: "IBM Plex Mono", monospace; /* Font family */
    margin-top: 20px; /* Add some margin on top for spacing */
    text-align: center; /* Center align the text */
}
