:root {
    --deep_blue: #1D3557;
    --blue: #457B9D;
    --sky_blue: #A8DADC;
    --faded_blue: #CFDADB;
    --green: #78b13f;
    --light_green: #F1FAEE;
    --deep_red: #C03641;
    --red: #E63946;
    --light_red: #F8CCCF;
    --black: #000000;
    --text_black: #2B2B2B;
    --dark_grey: #686161;
    --mid_grey: #7B7B7B;
    --grey: #BDBCBC;
    --gold: #FEC526;
    --dark_gold: #EAAB0B;
    --white: #FFFFFF;
}